{% extends "base/base.html" %}
{% block content %}
{% load staticfiles %}

<div class="text-center body">
    <div class="container ">
        <h3 class="mb-3">Регистрация</h3>
        <form method="post" action="{% url 'login:regist' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <!--<div class="custom-file">-->
                <!--<input type="file" class="custom-file-input" id="customFile">-->
                <!--<label class="custom-file-label" for="customFile"><small>Выберите аватарку</small></label>-->
            <!--</div>-->
            <!--<div class="mb-3">-->
                <!--<input type="file" class="custom-file-input" id="customFile">-->
                <!--<label for="{{ field.id_for_label }}">{{ field.label }}</label>-->
            <!--</div>-->
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field.as_widget }}
                    <div class="">
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock %}