{% extends "base/base.html" %}
{% block content %}
{% load staticfiles %}

<div class="text-center body">
    <div class="container ">
        <h3 class="mb-3">Регистрация</h3>
        <form method="post" action="{% url 'login:regist' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <!--<input class="form-control" id="{{ field.id_for_label }}" name = "{{ field.html_name }}" value="{{ field.value|default_if_none:"" }}">-->
                    {{ field.as_widget }}
                    <div class="">
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock %}